<!DOCTYPE html>
<html lang="zh-CN" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="Content-Type" content="charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HSCRM-Index</title>
</head>
<body>
	<p th:text="'hello SpringBoot'">hello thymeleaf</p>
	<h3 sec:authorize="isAuthenticated()">已被认证</h3>
	<h3 sec:authorize="hasRole('AdminManager')">有AdminManager角色</h3>
	<h3 sec:authorize="hasRole('CommonUser')">有CommonUser角色</h3>
	<h3 sec:authentication="principal.authorities">所有权限</h3>
</body>
</html>